<?xml version="1.0" ?>
<!--
/**
 * @author Tridhyatech Team
 * @copyright Copyright (c) 2024 Tridhyatech (https://www.tridhyatech.com)
 * @package Tridhyatech_DuplicateCMS
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Cms\Ui\Component\Listing\Column\PageActions" type="Tridhyatech\DuplicateCMS\Ui\Component\Listing\Column\PageActions" />
    <preference for="Magento\Cms\Ui\Component\Listing\Column\BlockActions" type="Tridhyatech\DuplicateCMS\Ui\Component\Listing\Column\BlockActions" />
</config>
