<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Homepage_Slider::contact" title="Product" module="Homepage_Slider" sortOrder="51" resource="Homepage_Slider::contact"/>
        <add id="Homepage_Slider::configuration" title="Product Configuration" module="Homepage_Slider" sortOrder="99" parent="Homepage_Slider::contact" action="crud/contact/index/" resource="Sample_Crud::contact"/>
    </menu>
</config>

